
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
#root{
  width: 100%;
  height: 100%;
  margin: 0;
}

.footer{
  background-color: yellow;
  width: 100%;
  height: 4rem;
}
.footer h1{
  margin: 0px;
  padding-top: 10px;
  margin-left: 3rem;
}


.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center{
  display: flex;
  justify-content: center;
}
.note{
  width: 30%;
  height: 15rem;
  margin-top: 2rem;
  box-shadow: 10px 5px 5px grey;
}
.notes_center{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


.form button{
  width: 11%;
  border-radius: 47%;
  align-self: flex-end;
  color: orange;
  font-size:xx-large;
  font-weight: bolder;
}
input{
  height: 4rem;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  border: none;
  margin-left: 1rem;
}
textarea{
  height: 7rem;
  border: none;
  margin-left: 1rem;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
}

.notes{
  margin-left: 4rem;
  width: 20%;
  height: 15rem;
  margin-top: 2rem;
  box-shadow: 10px 5px 5px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* //button  */

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  align-self: flex-end;
}
.btn:hover{
  box-shadow: 0px 9px 30px 10px rgba(5, 163, 255, 0.3);
}
.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}



